
/* Sección de servicios de introducción */

/* Sección de servicios */
.services-section {
    justify-content: center;
    min-height: 70vh;
}

/* Botón de formulario de agregar */
.btn-form-add {
    background-color: #3d367a;
    color: #D7F39E;
    font-weight: 700;
    border: 3px solid #3d367a;
    width: 20rem;
    border-radius: 25px;
}
.btn-form-add:hover{
   color: #3d367a;
   background-color: #D7F39E;
}

/* Etiquetas de formulario de agregar */
.add-form-label {
    color: #3d367a;
    font-weight: 600;
}

/* Controles del formulario */
.form-control {
    background-color: transparent;
    border: none;
    border-radius: 0%;
    border-bottom: 2px solid #3d367a;
    color: #3d367a;
    font-weight: 600;
}

/* Efecto focus en los controles del formulario */
.form-control:focus {
    background-color: transparent;
    border: 2px solid #3d367a;
    border-radius: 25px;
}

/* Filas del formulario */
.form-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo global para los modales de SweetAlert2 */
.swal2-popup {
    background-color: #170d35 !important; /* Fondo del modal */
    color: #d7f39e !important;           /* Color del texto */
    border: 2px solid #d7f39e !important; /* Borde */
    border-radius: 10px !important;      /* Bordes redondeados */
    font-family: 'Roboto', sans-serif;  /* Fuente */
  }
  
  .swal2-title {
    color: #d7f39e !important;          /* Color del título */
    font-size: 1.8rem !important;       /* Tamaño del título */
    font-weight: bold !important;
  }
  
  .swal2-html-container {
    color: #d7f39e  !important;          /* Color del texto principal */
    font-size: 1.2rem !important;
  }
  
  .swal2-confirm {
    background-color: #d7f39e !important; /* Fondo del botón */
    color: #170d35 !important;              /* Color del texto del botón */
    border-radius: 5px !important;
    padding: 10px 20px !important;
    font-weight: bold !important;
  }
  
  .swal2-cancel {
    background-color: #f5f5f5 !important; /* Fondo del botón de cancelar */
    color: #333 !important;
    border-radius: 5px !important;
    padding: 10px 20px !important;
  }