body {
    color: #3d367a;
}

.basic-btn {
    background-color: #3d367a;
    color: white;
    border: 2px solid #D7F39E;
    transition: 0.5s;
    font-weight: 600;
    font-size: 18px;
}

.basic-btn:hover{
    background-color: #D7F39E;
    color: #3d367a;
    border: 2px solid #3d367a;
    transform: scale(1.005);
}

::-webkit-scrollbar {
    width: 15px;
   
    background-color: #D7F39E;
}

::-webkit-scrollbar-thumb {
    background-color: #3d367a;
    border: 1px solid white;
    border-radius: 25px; 
    height: 6px;
}

